# don't commit secrets
.env
.env.old

# maybe don't add content to git repository
# /content

/assets

# ignore the kirby folder because it is installed via composer
/kirby

# make sure to whitelist custom plugins
# and plugins not installed via composer
# in site/plugins/.gitignore

/vendor

# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------
.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
